*{
    margin: 0;
    padding: 0;
    color: rgb(241, 241, 241);
    font-family: "Anek Latin";
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: .25em;
}



body {
    display: block;
    background-color: rgb(10, 10, 10);
    font-size: 18px;
    margin: 40px;
    padding-top: 100px;
}


header {
    display: block;
    font-family: Helvetica;
    z-index: 1;
    width: 100%;
    position: fixed;
}
nav {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 20px;
}

a:hover {
    color: red;
  }

menu {
    display: flex;
    gap: 50px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start:40px;
    list-style: none;
}

nav img {
    width: 150px;
}

menu li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: helvetica;
}

h1{
    font-weight: 800;
    font-size: 64px;
    
    
}

h2{
    font-weight: 600;
    font-size: 40px;
    padding-right: 20%;
}

h4{
    font-weight: 500;
    font-size: 20px;
    padding-right: 20%;

}

h3{
    font-weight: 400;
    font-size: 34px;
    padding-right: 20%;

}


h5{
    font-weight: 200;
    font-size: 32px;
    padding-right: 20%;

}


li{
    font-size: 32px;
}




a{
    color: aqua;
    
}

a:hover{
    color: whitesmoke;

}



ul,ol{
    margin-left: 25px;
}

#LAN_Photo_1 {

    float: right;
    width: 500px;
    margin-top: 20%;
}

.articledate{

    font-size: 16px;
    color: red;

}

#newsletter {
    margin: auto;
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 10px;
    width: 450px;
    height: auto;
    
}

#newsletter h2 {
    color: black;
    text-align: center;
    font-family: "Anek Latin";
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;

}

#newsletter button {
    border: 0px;
    background-color: #ff0000;
    padding: 10px;
    font-weight: 600;

}

#newsletter label {
    padding: 10px;
    color:black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    
}

#newsletter input {
    padding: 10px;
    border: 0px;
    width: 300px;
    color: black;
    
}

.article-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}

.article-layout img {
    width: 350px;
}

#article-1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    h3{
        font-weight: 400;
        font-size: 24px;
        padding-right: 20%;
    
    }

}

#article-2 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;

    h3{
        font-weight: 400;
        font-size: 24px;
        padding-right: 20%;
    
    }
}

#article-3 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;

    h3{
        font-weight: 400;
        font-size: 24px;
        padding-right: 20%;
    
    }

}

#Homepage_Photo {

    float: right;
    margin-top: 20%;
}



header {
    display: block;
    background-color: rgb(10, 10, 10);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}


#welcome {
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 30%;
    padding: 10px 20px;
    text-align: left;
}

#blog {
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#content {
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#shop {
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}