
header {
    display: block;
    font-family: Helvetica;
    z-index: 1;
    width: 100%;
    position: fixed;
}


body {
    display: block;
    background-color: rgb(10, 10, 10);
    font-family: Helvetica;
    font-size: 18px;
    margin: 0px;

}

main {
padding-top: 100px;
}

nav {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 20px;
}



a:hover {
    color: red;
  }

menu {
    display: flex;
    gap: 50px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start:40px;
    list-style: none;
}

nav img {
    width: 150px;
}

menu li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: helvetica;
}

#Welcome {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#Welcome img {
    height: 700px;
    width: 50%;
    object-fit: cover;
}

#Welcome h1 {
    text-align: left;
    font-size: 90px;
    padding-left: 40px;

}

#Content {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#Content img {
    height: 500px;
    width: 60%;
    object-fit: cover;
}

#Content h1 {
    text-align: left;
    font-size: 90px;
}

h2 {
    text-align: center;
    font-size: 18px;

}


img{
    overflow-clip-margin: content-box;
    overflow: clip;
}


#Featured {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
    padding-block: 200px;
    
    
}

#Featured img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 50px;
}

#Featured h1{
    text-align: center;
    font-size: 40px;
}

    



#Gallery {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
    padding-block: 50px;
}

#Gallery h1 {
    text-align: left;
    font-size: 45px;
}

.splide__slide a:visited {
    text-decoration: none;
    color: whitesmoke;
}

.splide__slide img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

.splide__slide h2 {
    font-size: 24px;
    color: whitesmoke;
}

  #image-carousel {
    margin: auto;
  }







#bakery-images { 
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

#bakery-images img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.modal {
    max-width: 100%;
    width: auto;
    
}

.modal img {
    height: 85vh;

}

.blog-page  {
    color: whitesmoke;
    background-color: rgb(24, 24, 24);
}


.shop-page {
    background-color: whitesmoke;
}

#Twitch {
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#Twitch img {
    height: 600px;
    width: 900px;
    object-fit: cover;
}

#Twitch h1 {
    text-align: left;
    font-size: 90px;
}

#Blog-Intro {
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    padding-block: 100px;
}

#Blog-Intro img {
    height: 700px;
    width: 50%;
    object-fit: cover;
}

#Blog-Intro h1 {
    text-align: left;
    font-size: 90px;
    padding-left: 40px;
    padding-right: 120px;
}

#Blog-Intro h2 {
    text-align: left;
    font-size: 32px;
    padding-left: 40px;
    padding-right: 120px;
}

#Shop-page {
    background-color: whitesmoke;
}

#Shop-Gallery {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
    padding-block: 50px;
}

#Shop-Gallery h1 {
    text-align: center;
    color: black;
    font-size: 45px;
}

.splide__slide img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  #image-carousel {
    margin: auto;
  }

  .ViewMore a {
       text-decoration: none;
       color: whitesmoke;
       
  }

 